#dragonCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* ВАЖЛИВО: кліки проходять крізь нього */
    pointer-events: none;
    /* Низький z-index, щоб модалка була зверху */
    z-index: 1;
}
