@{
    ViewData["Title"] = "Submissions (Internal)";
}

<h2 class="mb-4">Submissions (Internal)</h2>

<button class="btn btn-primary mb-3" onclick="goCreate()">Create New Submission</button>

<!-- Темна таблиця -->
<table class="table table-dark table-hover table-bordered" id="submissionsTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Title</th>
            <th>IsPublic</th>
            <th>CreatedAt</th>
            <th style="width:160px;">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script src="~/js/submissionsIndex.js"></script>
}
